body
{
	width: 90%;
	margin: auto;
	background-image: url(../img/bg.jpg);
	font-family: sans-serif;
	letter-spacing: 1px;

}
table
{
	width: 80%;
   margin: auto;
   margin-top: 50px;
}
table,th,td

{
	
	border-collapse: separate;
	border-spacing: 7px;
}
h2
{
	margin: 10px;
}

th, td, tr
{
	padding:15px 15px;
	
}
th:hover,td:hover
{
	background-color:aliceblue;
}
tr:nth-child(even)
{
	background-color:Beige;
}
tr:nth-child(odd)
{
	background-color: Cornsilk;
}
.align_center
{
	text-align: center;
}
.prof
{
	width: 400px;
	height:400px;	
}

li
{
   padding:5px 0px;
   margin: 20px 0px;
   background-color: lavender;
}
.outer_ul
{

 list-style-type: square;
 list-style-position: inside;

}
.inner_ul
{
list-style-type: disc;
list-style-position: inside;

}
.navigation
{
	margin: 40px 0px;
    text-align:center;
    font-weight: bolder;
}
.block
{
	background-color:beige;
	display: inline-block;
	width:200px;
	height: 40px;
	font-size: 20px;
	padding-top: 10px;
text-decoration: none;
color:indianred;
}
.navigation a:hover
{
	border: 3px outset beige;

}


.floating
{
	
	float: left;
	width:38%;
	margin-top: 20px;
}
.floating p
{
	margin-left: 0px;
}
#youtube-icon img
{
	width:200px;
	height:100px;
	margin-left:100px;
	margin-right: 10px;
	margin-top: 2px;
	transition: width 2s ease 1s,transform 2s ease 1s; 
}
#youtube-icon img:hover
{
   width:225px;
   transform: rotate(360deg);
}
@keyframes name_animation
{
	0% {transform:rotateX(0deg);}
	25% {transform:rotateX(60deg);}
	50% {transform:rotateX(-60deg);}
	75% {transform:rotateY(60deg);}
	100% {transform:rotateY(-60deg);}
}
.main_name
{
	transition: font-size 6s ease-in-out 1s;
}
.main_name:hover
{
	font-size:100%;
	animation-name:name_animation;
	animation-duration: 6s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

