
body
{
 width: 100%;
 scroll-behavior: smooth;

}
.navigation
{
width: 100%;
background-color: black;
 overflow: hidden;
position: sticky; /* Set the navbar to fixed position */
 top: 0;
 z-index: 1;
}
.block
{
	font-family: 'Cinzel Decorative';
	display: inline-block;	
	color: maroon;
	width:200px;
	height:17px;
	padding: 15px 0px ;
	font-size: 15px;
	text-decoration: none;
	margin: 30px 10px 30px 50px;
	text-align: center;
	letter-spacing: 1.5px;
    font-weight: bolder;
    text-transform: uppercase;
    
    
}

.block:hover
{
	
	border: 3px outset darkslategrey;
}

.content
{
	background-image: url(https://static1.squarespace.com/static/5ae557283917ee2b79e65b8f/5b7c4ec321c67c04a7ead441/5b7c4ed38985835eb3d32766/1534873309114/navy+Background.jpg?format=2500w);
	background-repeat:no-repeat;
	background-size: cover;
	background-color:#003349;
	overflow: hidden;
	padding:100px;
	text-align: center;
	color:Maroon;
	font-weight: bold;
	z-index: 0;
	
}
.time h1
{
	font-size: 20px;
	text-align: left;
	color: white;

}

.intro
{
	padding-top:40px;
	float: left;
	width:50%;
	 font-family: 'Cormorant Infant';
}
.intro h1
{
	margin-top: 70px;
  text-transform: uppercase;
	font-size: 70px;
}
.intro h3
{

	font-size: 30px;
	font-style: italic;
}
.prof
{
	width: 400px;
	height:400px;
	border-radius:7px;
border:2px outset grey;
}

#gmail_logo
{
	width:50px;
	height:50px;
	border-radius: 50%;
	margin-right:10px;
vertical-align: baseline;
transition: border-color 2s ease 1s,border-style 2s ease 1s, transform 2s ease 1s; 
}
#home_logo
{
	width:50px;
	height:50px;
	border-radius: 50%;
	vertical-align: baseline;
	transition: border-color 2s ease 1s,border-style 2s ease 1s, transform 2s ease 1s; 

}
.sm_icon
{
    width:50px;
	height:50px;
	border-radius: 50%;
	margin:0 7px;
	vertical-align: baseline;
	display: inline-block;
	transition: border-color 2s ease 1s,border-style 2s ease 1s, transform 2s ease 1s; 
}
#gmail_logo:hover, #home_logo:hover,.sm_icon:hover
{
	border-style: outset;
	border-color: gray;
   transform: rotate(360deg);
}
.content p,.edu1 li
{
	font-family: sans-serif;
	letter-spacing: 3px;
	line-height: 40px;
	color:white;
}
@keyframes name_animation
{
	0% {transform:rotateX(0deg);}
	25% {transform:rotateX(60deg);}
	50% {transform:rotateX(-60deg);}
	75% {transform:rotateY(60deg);}
	100% {transform:rotateY(-60deg);}
}
@keyframes name_animation1
{
	0% {transform:translate(-50px,-50px);}
	25% {transform:translate(-25px,-25px);}
	50%{transform:translate(0px,0px);}
	75% {transform:translate(25px,25px);}
	100% {transform:translate(50px,50px);}
}
.main_name:hover,.heading:hover
{
	
	animation-name:name_animation;
	animation-duration: 6s;
	animation-delay: 1s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}
.edu1 li
{
   padding:5px 0px;
   margin: 20px 0px;
   text-align: left;
   color: white;

}
.edu1 li:hover
{
  background-color: lightsteelblue;
}
.edu1 ul
{
 list-style-type: square;
 list-style-position: inside;

}
.fav
{
	text-align: left;
	float: left;
	width:40%;	
	font-family: 'Cormorant Infant';
	font-size:120%;

}
.edu
{
	float: left;
	width:30%;	
	font-family: 'Cormorant Infant';
	font-size:120%;
}
.edu1
{
	text-align: left;
	float: left;
	width:50%;	
	font-family: 'Cormorant Infant';
	font-size:120%;
}
.separator
{

   border-left-style: solid;
	border-left-width: 3px;
	border-left-color: maroon;
	margin-left: 20px;
	padding-left:25px;
}

.heading
{
	text-align: center;
	padding-top:250px;
	text-transform: uppercase;
	font-size: 60px;
}
.floating
{
	
	float: left;
	width:38%;
	margin-top: 100px;
}
#youtube_icon
{
	width:170px;
	height:100px;
	margin-left:20px;
	margin-top: -15px;
	transition:transform 2s ease 1s; 
}
#youtube_icon:hover
{  
   transform: rotate(360deg);
}
.content a
{

    text-align: center;
	
	text-transform: uppercase;
	font-size: 50px;
	text-decoration: none;
	color: Maroon;
	font-family: 'Cormorant Infant';
	font-weight: bolder;
}

.content .twitter
{
	margin-left: 0px;
	padding-left: 0px;
	text-align:left;
}

.cric-div
{
	float: left;
	padding: 5px;
}

#twitter-widget-0
{
	border: 1px solid;
	border-radius: 15px 50px;

}
.about_heading
{
	padding:80px 0px 10px 0px;
	font-weight: bolder;
	text-align: left;
}
.skill_container
{
	padding-top: 30px;
}
.h_skills
{
	text-align: left;
	padding-top: 400px;
}

.skill_bar {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
   
  border-radius: 20px;
}

.skills {
 text-align: right;
  padding: 4px; /* Add some padding */
  border-radius: 20px 20px;

 
}

#web {width: 0%; background-color: darkcyan; transition: width 3s ease 1s;} /* Green */
#java {width: 0%; background-color:steelblue;  transition: width 3s ease 1s;} /* Blue */
#cpp {width: 0%; background-color: Turquoise;  transition: width 3s ease 1s;} /* Red */
#MO {width: 00%; background-color: lightcoral;  transition: width 3s ease 1s;} /* Dark Grey */